<li class="chat-right">
  <div class="chat-avatar">
    <fa-icon class="fs-4" [icon]="faUser"></fa-icon>
    <div class="chat-name">User Name</div>
  </div>
  <div class="chat-text">
    Lorem ipsum dolor.
    <br>Lorem ipsum dolor sit amet, consectetur adipisicing.
  </div>
  <div class="chat-hour">Time</div>
</li>
<li class="chat-left">
  <div class="chat-avatar">
    <fa-icon class="fs-4" [icon]="faUser"></fa-icon>
    <div class="chat-name">User Name</div>
  </div>
  <div class="chat-text">
    Lorem ipsum dolor sit.
    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis!
  </div>
  <div class="chat-hour">Time</div>
</li>
